* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  background-image: url('https://media.giphy.com/media/G0vaYbZDJV0cM/giphy.gif?cid=ecf05e47xt6mcjc4euybna5fo72bmn2il19bjf9esq5jjcdw&ep=v1_gifs_search&rid=giphy.gif&ct=g');
  background-position: center;
  background-size: cover;
  padding: 0 8%;
}
.logo {
  width: 250px;
  padding: 20px 0;
  cursor: pointer;
}
.content {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  color: #000000;
}
.content h1 {
  font-size: 40px;
  font-weight: 550;
}
.content h1 span {
  color: #ffff4a;
}
.content button {
  background: transparent;
  border: 2px solid #000000;
  outline: none;
  padding: 12px 25px;
  color: #000000;
  display: flex;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
}
.content button img {
  width: 25px;
  margin-left: 10px;
}
.launch-time {
  display: flex;
}
.launch-time div {
  flex-basis: 100px;
}
.launch-time div p {
  font-size: 40px;
  margin-bottom: 1px;
}
.launch-time div span {
  padding-top: 10px;
}
.rocket {
  width: 200px;
  position: absolute;
  right: 10%;
  bottom: 0;
  animation: rocket 12s linear infinite;
}
@keyframes rocket {
  0% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    bottom: 105%;
    opacity: 1;
  }
}
